<div class="card flex top-margin justify-content-center">
  <app-carousel></app-carousel>
  <p-card header="GreenBallot" subheader="We only have one earth">
    <ng-template pTemplate="header">
      <img alt="Card" src="../../../assets/images/renewable 1.jpeg" />
    </ng-template>
    <p>
      GreenBallot is a blockchain-based voting platform dedicated to empowering communities to make democratic decisions on critical environmental initiatives. Our mission is to promote transparency, security, and inclusivity in environmental decision-making, allowing individuals to vote on projects that directly impact the health of our planet. By leveraging blockchain technology, GreenBallot ensures that every vote is immutable and tamper-proof, fostering trust and accountability. Whether it's supporting renewable energy, conservation efforts, or sustainability programs, GreenBallot helps drive meaningful change for a greener and more sustainable future.
    </p>
    <ng-template pTemplate="footer">
<!--      <div class="flex gap-3 mt-1">-->
<!--        <p-button label="Cancel" severity="secondary" class="w-full" styleClass="w-full" />-->
<!--        <p-button label="Save" class="w-full" styleClass="w-full" />-->
<!--      </div>-->
    </ng-template>
  </p-card>
</div>

